* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

/*SECCION BOTON DE LA APLICACION*/
.button-all-page {
  color: white;
  cursor: pointer;
  background-color: #141414;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  position: relative;
  font-size: 32px;
  height: fit-content;
  width: fit-content;
  border: none;
}

.button-all-page:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  z-index: 99;
}

/*SECCION DE BOTON BARRA NAVEGADORA*/
.signButton {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #ffff;
  cursor: pointer;
  background-color: #1888ff;
}

.signButton:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #ffff;
  border-radius: 4px;
  border: 2px solid #1888ff;
}
/*SECCION DE DROPDOWN BARRA NAVEGADORA*/
.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}
.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background: #5cabff;
}
.dropdown-menu.clicked {
  display: none;
}
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
/*SECCION DE BARRA NAVEGADORA*/
.navbar {
  background: linear-gradient(90deg, #141414 0%, #141414 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 99;
}

.navbar-logo {
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  z-index: 99;
}

.logo {
  width: 4rem;
  margin: 1rem;
  border-radius: 4px;
  z-index: 99;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  z-index: 99;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  z-index: 99;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  z-index: 99;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  z-index: 99;
}

.fa-bars {
  color: #fff;
  z-index: 99;
}

.nav-links-mobile {
  display: none;
  z-index: 99;
}

.menu-icon {
  display: none;
  z-index: 99;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
    z-index: 99;
  }
  .NavbarItems {
    position: relative;
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    z-index: 99;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    z-index: 99;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
    z-index: 99;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, -10%);
    z-index: 99;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 99;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
    z-index: 99;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    z-index: 99;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
    z-index: 99;
  }
  .signButton {
    display: none;
  }
}
/*SECCION DE CONTENEDOR DEL MODAL*/

.modal-container {
  display: flex;
  align-items: center;
  height: 300px;
  width: 400px;
}
.modal-image {
  width: 300px;
  height: 400px;
  margin: 30px;
  border-radius: 4px;
  border: none;
  object-fit: cover;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.modal-image:hover {
  transform: scale(1.2);
  transition-property: inherit;
  transition-duration: 1s;
}

.modal-background {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  animation-name: showme;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

.modal-product-wrapper {
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #ffff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 30;
  border-radius: 10px;
}
.modal-product-image {
  position: absolute;
  width: 400px;
  height: 500px;
  border-radius: 10px 0 0 10px;
  background: #000;
  object-fit: cover;
}

.modal-product-content {
  margin: 0px;
  padding: 52px 0 0 20px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.8;
  color: #141414;
  list-style: none;
}
.modal-product-title {
  margin: 0;
  padding: 16px;
  text-align: left;
  font-size: 60px;
}
.modal-product-price {
  margin: 0;
  padding: 16px;
  text-align: left;
  font-size: 40px;
}
.button-close-modal {
  padding: 0px;
  text-align: center;
  background: #141414;
  color: #ffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  z-index: 10;
}

@keyframes showme {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*SECCION DE CARRUSEL*/

.carrousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  padding: 20px;
  perspective: 1500px;
}
.carrousel-image {
  width: 300px;
  height: 150px;
  margin: 30px;
  border-radius: 4px;
  border: none;
  object-fit: cover;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.carrousel-container h1 {
  font-size: 25px;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.carrousel-click {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* animation: rotate-click 0,5s linear; */
}

.carrousel-click-right {
  animation: rotate-click-right 0, 5s linear;
}

.carrousel-click-left {
  animation: rotate-click-left 0, 5s linear;
}

.carrousel360 {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
  cursor: pointer;
  border-radius: 4px;
  margin: 20px;
  position: absolute;
  width: 360px;
  height: 130px;
  top: 20px;
  background-size: cover;
  display: flex;
}

.carousel__face:nth-child(1) {
  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  transform: rotateY(320deg) translateZ(430px);
}
.manual-controls {
  justify-content: center;
  position: relative;
  margin-top: 250px;
}
.carrousel-prev,
.carrousel-next {
  background-color: #1888ff;
  border: none;
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  margin: 0 1px 0 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px 0 0 4px;
  user-select: none;
  -webkit-user-select: none;
}

.carrousel-next {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.carrousel-prev:hover,
.carrousel-next:hover {
  background-color: #5cabff;
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotate-click-right {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(40deg);
  }
}

@keyframes rotate-click-left {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-40deg);
  }
}

/*SECCION DE GALERIA DE PRODUCTOS*/

.gallery-container {
  border: none;
  display: block;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 30px;
}
.grid-item {
  width: 350px;
  margin: 30px;
  border-radius: 4px;
  border: none;
  object-fit: cover;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/*SECCION FORMULARIOS*/
.center {
  display: flex;
  justify-content: center;
}
.user-form {
  background-color: #1888ff;
  color: #fff;
  width: auto;
  border: none;
  border-radius: 4px;
  margin-top: 50px;
  text-align: justify;
  align-items: center;
  width: 40rem;
}
.user-form > h1 {
  width: 100%;
  text-align: center;
}

.user-form > fieldset > input,
select {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #141414;
  border: none;
  border-radius: 4px;
}
.user-form > fieldset {
  padding: 5px;
  text-align: center;
  background-color: #141414;
  width: 100%;
  height: auto;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}
.user-form {
  padding: 10px;
}
.register-button {
  cursor: pointer;
  color: #fff;
  background-color: #141414;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
}
.register-button:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #ffff;
  border-radius: 4px;
  border: 2px solid #141414;
}
.register-button-login {
  cursor: pointer;
  color: #fff;
  background-color: #141414;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
}
.acept-politics {
  font-size: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.link-politics {
  text-decoration: none;
}
.link-politics:visited {
  color: #fff;
  text-decoration: none;
}
/*SECCCION PERFIL PRIVADO*/

.avatar-profile {
  justify-content: flex-start;
  width: 300px;
}

/*SECCION PRODUCTO DETALLADO */

.section-background {
  background-color: #fff;
  padding: 20px;
  color: #fff;
  width: 1100px;
  border: none;
  border-radius: 4px;
  margin: 50px;
  text-align: justify;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
}
.product-content {
  margin: 0px;
  padding: 52px 0 0 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.8;
  color: #141414;
  list-style: none;
  text-align: left;
}

.product-image-container {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.little-user-info {
  width: 600px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}
.avatar {
  background: pink;
  height: 80;
  width: 80;
}

/*SECCION DE ACTUALIZACION DEL PRODUCTO*/

.product-form {
  background-color: #1888ff;
  color: #fff;
  padding: 10px;
  width: auto;
  border: none;
  border-radius: 4px;
  margin-top: 50px;
  text-align: justify;
  align-items: center;
}
.product-form > fieldset > input,
select {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #141414;
  border: none;
  border-radius: 4px;
}
.product-form > fieldset {
  padding: 5px;
  text-align: center;
  background-color: #141414;
  width: 100%;
  height: auto;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.accesories {
  border: none;
  border-radius: 4px;
  resize: none;
  margin: 20px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  font-size: 16px;
  padding: 5px;
  color: #141414;
}

.description-product {
  border: none;
  border-radius: 4px;
  resize: none;
  margin: 20px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  font-size: 16px;
  padding: 5px;
  color: #141414;
}

.image-input {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}
.input-button::-webkit-file-upload-button {
  visibility: hidden;
}
.input-button::before {
  content: "Selecciona el archivo";
  color: white;
  cursor: pointer;
  background-color: #141414;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  position: relative;
  font-size: 32px;
  height: fit-content;
  width: fit-content;
  border: none;
  margin: 5px;
}

/*SECCION PERFIL PUBLICO */

.personal-head {
  background-color: #1888ff;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

/*SECCION CHAT*/

.ChatRoom {
  background: lightblue;
  margin: 5;
  min-width: 500;
  max-width: 800;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 4px;
}
